.vscode
.idea/

goal/

.checkpoint-karpathy/roadmap.md
.checkpoint-karpathy/progress.md
.checkpoint-karpathy/private/

# Script
script/dist/
script/node_modules/

# Web extension
web-extension/src/_metadata/

# Deploy
.env
!web/.env
